#container {
    background-color: grey;
    width: 300px;
    height: 400px;

}

#plus, #minus, #multiply, #divide,  #equals {
    background-color: black;
    color: white;
    padding: 10px;
}

#zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
    background-color: lightgray;
    color: black;
    padding: 10px;
}

#clear {
    background-color: red;
    padding: 10px;
}

#output {
    border: solid black;
    padding: 10px;
}

#row1, #row2, #row3, #row4 {
    padding: 10px;
    text-align: center;
}

